.header {
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 750px;
  padding: 0.9rem;
  border-radius: 7px;
  margin-inline: auto;
  margin-block: 2rem;
  border: 2px solid var(--Header-Outline);
}

.game-logo {
  height: 100%;
  display: flex;
}

.game-logo > img {
  height: 100%;
}

.score-board {
  background-color: white;
  padding-block: 1rem;
  border-radius: 7px;
  width: 130px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

.score-txt {
  color: var(--Score-Text);
  letter-spacing: 2px;
  font-weight: 700;
}

.the-score {
  font-size: 3.2rem;
  line-height: 2.6rem;
  font-weight: 700;
  color: var(--Dark-Text);
}

@media (max-width: 650px) {
  .header {
    height: 17vh;
  }

  .score-board {
    width: 100px;
  }
  .score-txt {
    font-weight: 600;
    font-size: 0.8rem;
  }
  .the-score {
    font-size: 2.7rem;
    line-height: 2.2rem;
  }
}
